* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 120%;
}

h1 {
	text-align: center;
	font-size: 1.75em;
}

section {
	
	border: 1px solid #000000;
	width: 30%;
	margin: 0 0 25px 0;
	padding: 0;
}

section h2 {
	
	width: 40%;
	position: relative;
	float: right;
	border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
	margin-top: 0;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}

section ul {
	padding-top: 50px;
}

#chicken {
	background-color: #EEF562;
	color: #FFFFFF;
}

#chicken h2 {
	background-color: #FFFFFF;
	color: #EEF562;
}

#beef {
	background-color: #D72C45;
	color: #FFFFFF;
}

#beef h2 {
	background-color: #FFFFFF;
	color: #D72C45;
}

#sushi {
	background-color: #8B8B89;
}

#sushi h2 {
	background-color: #FFFFFF;
}

/*-----Larger devices only-----*/
@media (min-width: 992px) {
    section {
        float: left;
        margin-right: 2.5%;
        width: 30%;
    }

    #chicken {
        margin-left: 2.5%;
    }
}

/*-----Medium devices only-----*/
@media (min-width: 768px) and (max-width: 991px) {
	section {
        float: left;
        margin-right: 2.5%;
        width: 46.25%;
    }

    #chicken {
        margin-left: 2.5%;
    }

    #sushi {
    	clear: left;
    	margin-left: 2.5%;
    	width: 95%;
    }

    #sushi h2 {
    	width: 20%;
    }
 }
/*-----Small devices only-----*/
 @media (max-width: 767px) {
 	section {
 		float: left;
        margin-right: 2.5%;
        margin-left: 2.5%;
        width: 95%;

 	}
 }