*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #F5F5F5;
    background-color: #7288CB;
    font-family: 'Source Sans Pro', sans-serif;
}

               /****HEADER****/
#header-nav {
	height: 100px;
}

h1 {
    font-size: 1.75em;
 }

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #7288CB;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 50px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 2em;
}
                /***END HEADER***/





/***HOME PAGE***/

section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
    position: relative;    
}

#chicken, #beef, #sushi {
    border-radius: 10px;
    border: none;
}

#chicken:hover, #beef:hover, #sushi:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
    

section h3 {
    font-size: 1.25em;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #7288CB;
    opacity: .8;
    border-radius: 10px 10px 0 10px;
}

section p {
    padding: 0 6px 4px 6px;
}




/********** Medium devices only *************/

	


/********** Extra small devices only **********/

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width */
    }
    
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f5f5f5;
    background-color: #7288CB;
    margin-top: 50px;
    margin-bottom: 15px;
    clear: both;

    }